<div id="sobre" 
    class="flex p-2 flex-col gap-8 bg-[#3B3E99] mb-16 lg:mb-48"
>
    <div
        class="flex flex-col justify-center items-center gap-4 tracking-wider"
    >
        <p
            class="text-[#64D9F7] text-4xl md:text-5xl font-semibold text-center"
        >
            ❝A dedicar surgiu da paixão de cuidar❞
        </p>
        <div>
            <p class="text-center leading-tight text-2xl">
                Claudete Braga & Eudesia Braga
            </p>
            <p class="text-center leading-tight">CEOs da empresa</p>
        </div>
    </div>
    <div
        class="flex text-lg leading-snug flex-col items-end gap-4"
    >
        <p>
            Aos doze anos, eu Eudesia Braga tive meu primeiro contato com o que
            viria a ser minha futura profissão. Esta minha longa jornada começou
            nos tempos de escola, tempos nos quais me lembro muito bem,
            principalmente de uma professora muito querida por mim. Um Certo
            dia, esta mesma professora me convidou até sua residência.
        </p>
        <p>
            Chegando em sua casa, ela me fez um pedido, que eu ajudasse a cuidar
            de sua mãe, enquanto ela, ajudaria-me nos meus estudos. Fiquei
            surpresa com aquela senhora de 80 anos, pois, precisava de todos os
            cuidados, era totalmente dependente para se alimentar, caminhar,
            tomar banho, continuando assim durante alguns anos, sempre após o
            horario dos meus estudos, começando assim minha caminhada pela
            geriatria.
        </p>
        <p>
            Tempos depois, já formada, passei por todos os setores da
            enfermagem, sendo meu forte realmente, a geriatria. Em qualquer
            setor que eu estivesse, eu sempre encontrava uma forma de ir falar
            com meus "velhinhos". nestes mesmos tempos, fui convidada por um
            médico para cuidar de sua mãe, assim começou minha história na
            enfermagem particular. Até que um dia chega a hora de partir,
            infelizmente mas, a amizade continua.
        </p>
        <p>
            Sempre cativando naturalmente meus pacientes e familiares, fui
            indicada por diversas vezes, adquirindo um grande reconhecimento
            nesta Área. Como não podia atender a todos os meus pacientes
            sozinha, passei selecionar profissionais e indicar aos meus amigos
            clientes. Com Ajuda de alguns amigos doutorados, montei oque é hoje
            conhecida como a EQUIPE DEDICAR, com 20 Anos de mercado. Tendo
            acesso a algumas casas geriátricas, hospitais e residências. Fruto
            de muito esforço e dedicação.
        </p>
        <p>Eudesia Braga</p>
    </div>
</div>
