<div id="diferencial"  class="flex p-2 flex-col gap-8 bg-[#3B3E99] mb-16 lg:mb-48"> 
    <p class="text-[#64D9F7] text-4xl md:text-5xl font-semibold text-center">
        Nosso diferencial
    </p>
    <div
        class="grid grid-cols-1 gap-2 ml:grid-cols-2 sm:grid-cols-3 md:gap-4 lg:grid-cols-4"
    >
        <div class="flex flex-col gap-1 bg-[#24265C] p-2 rounded-lg">
            <img
                src="media/page/differential/equipe.webp"
                alt="equipe"
                class="rounded-lg"
                loading="lazy"
            />
            <h1 class="text-3xl font-semibold">Equipe</h1>
            <p class="leading-snug font-medium">
                Nossa equipe é composta por enfermeiros, técnicos/auxiliares de
                enfermagem e cuidadores. Todos capacitados e adequados a atender
                as solicitações individuais de cada paciente, de acordo com
                avaliação prévia da DEDICAR.
            </p>
        </div>
        <div class="flex flex-col gap-1 bg-[#24265C] p-2 rounded-lg">
            <img
                src="media/page/differential/cliente_e_cuidadora_sorrindo.webp"
                alt="cliente e cuidadora sorrindo"
                class="rounded-lg"
                loading="lazy"
            />
            <h1 class="text-3xl font-semibold">Você escolhe</h1>
            <p class="leading-snug font-medium">
                Nós selecionamos os cuidadores por meio de várias avaliações,
                entretanto é possível que o cliente mude os profissionais
                selecionados, caso queira, dado algum motivo específico.
            </p>
        </div>
        <div class="flex flex-col gap-1 p-2 bg-[#24265C] p-2 rounded-lg">
            <img
                src="media/page/differential/clt.webp"
                alt="CLT consolidação das leis de trabalho"
                class="rounded-lg"
                loading="lazy"
            />
            <h1 class="text-3xl font-semibold">CLT</h1>
            <p class="leading-snug font-medium">
                A DEDICAR diferente de cooperativas, nós somos responsaveis por
                nossos empregados e os mesmos possuem vínculos empregatícios de
                acordo com a CLT, desta maneira todos eles são onerosos a
                empresa.
            </p>
        </div>
        <div
            class="bg-[#24265C] p-2 rounded-lg flex flex-col gap-1 sm:grid sm:grid-cols-2 sm:gap-3 sm:col-span-3 lg:col-span-1 lg:flex lg:flex-col lg:gap-1"
        >
            <div class="flex items-center">
                <img
                    src="media/page/differential/supervisão.webp"
                    alt="supervisão"
                    class="rounded-lg"
                    loading="lazy"
                />
            </div>
            <div>
                <h1 class="text-3xl font-semibold">Supervisão</h1>
                <p class="leading-snug font-medium">
                    Nós supervisionamos o acompanhamento dos nossos clientes
                    pessoalmente (Claudete Braga ou Eudesia Braga, CEOs da
                    empresa). quando não é possível encarregamos um secretário a
                    este serviço.
                </p>
            </div>
        </div>
    </div>
</div>
