<div id="parceiros" class="flex flex-col items-center gap-6 mb-12">
    <h1 class="text-[#64D9F7] text-4xl md:text-5xl font-semibold bg-[#3B3E99]">
        Parceiros
    </h1>
    <a href="https://ctapconsultoria.com.br/" target="_blank">
        <img src="/C-TAP.webp" alt="C-TAP consultoria medicina ocupacional e segurança do trabalho logo" loading="lazy" />
    </a>
</div>
