---
import Whatsapp from "@mdi/svg/svg/whatsapp.svg";
---

<div id="serviço" class="flex flex-col mb-12 gap-2 lg:gap-4 lg:mb-48">
    <div
        class="flex flex-col items-center items-stretch sm:flex-row gap-1 sm:gap-4 lg:gap-8"
    >
        <img class="rounded-lg aspect-[21/9] sm:hidden" src="media/page/service/cuidadora_de_idosos_e_idosa_felizes.webp" alt="cuidadora de idosos e idosa felizes">
        <div
            class="w-full flex-1 rounded-lg"
            style="background-image: url(media/page/service/cuidadora_de_idosos_e_idosa_felizes.webp); background-repeat: no-repeat; background-position: center; background-size: cover;"
        >
        </div>
        <div
            style="background:#3B3E99; "
            class="sm:w-1/2 flex flex-col flex-1 justify-between items-center gap-2 sm:gap-4 font-medium"
        >
            <div class="flex flex-col justify-center gap-2 sm:gap-1">
                <p
                    class="leading-tight text-center text-xl sm:text-normal sm:text-2xl sm:text-left md:text-3xl lg:text-[2.5rem] xl:text-5xl 3xl:text-[3.2rem] font-semibold tracking-wide"
                >
                    Fornecemos apoio e assistência a pacientes.
                </p>

                <p
                    class="leading-tight sm:text-base md:text-base lg:text-2xl xl:text-3xl"
                >
                    nossa missão é oferecer um acompanhamento personalizado para
                    pessoas que precisam de cuidados especiais.
                </p>
            </div>
            <div
                class="w-full leading-tight p-1 sm:text-xs md:text-sm 3xl:px-2 rounded bg-[#64D9F7] text-[#24265C] leading-tigth text-center text-sm"
            >
                <p>trabalhamos com contratos e escalas de revezamento</p>
                <p>24H, 24/24H, 24/48H, 12/36H e Finais de Semana</p>
            </div>
        </div>
    </div>

    <div
        class="flex items-center justify-center flex-col xl:flex-row xl:gap-2 p-2 font-semibold tracking-wider text-lg border bg-[#3B3E99] border-[#64D9F7] rounded-lg shadow drop-shadow text-center"
    >
        <p>Ligue e faça um orçamento.</p>
        <div class="flex flex-col sm:flex-row sm:gap-2">
            <p>(21) 3540-2249 <span class="hidden sm:inline">|</span></p>
            <p>(21) 3101-2541 <span class="hidden sm:inline">|</span></p>
            <span class="whitespace-nowrap"
                ><img
                    src={Whatsapp}
                    alt="ícone whatsapp"
                    style="filter: brightness(0) invert(1);"
                    class="w-[22px] inline"
                />&nbsp;(21) 99582-5518</span
            >
        </div>
    </div>
</div>
